@import '../../sass/vars';

.transactionHistory {
  table-layout: fixed;
  width: 500px;
  border-collapse: collapse;
  box-shadow: 0px 4px 10px -1px rgba(128, 126, 128, 1);
  border-radius: 2px;
  overflow: hidden;
}

.transactionHeader {
  background-color: rgb(28, 179, 230);
}

.transactionData {
  background-color: $secondary-bg-color;
}

th,
td {
  padding: 20px;
}

th {
  color: $white;
}

td {
  border-bottom: 1px solid silver;
  text-align: center;
}
